{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .username-circle--container {
            position: relative;
            text-align: center;
            color: white;
        }

        .username-circle--text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: larger;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('my_account/partials/top_menu.html.twig') }}
    <div class="row">
        {{ include('my_account/partials/sidebar_menu.html.twig') }}
        <div class="col">
            <div class="row">
                <div class="offset-md-2 col-md-10 col-sm-12 text-center">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <div class="username-circle--container">
                                        <img class="username-circle--image rounded-circle" src="data:image/svg+xml;charset=UTF-8,%3Csvg width='65' height='65' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 65' preserveAspectRatio='none'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='holder_17bf4415110'%3E%3Crect width='65' height='65' fill='%23777'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E">
                                        <div class="username-circle--text username-italic text-uppercase font-weight-bold">
                                            {{ user.userIdentifier|first }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <h5 class="username-italic">{{ user.userIdentifier }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="offset-3 col-6">
                                        <label for="password-change_current_password--input">Current Password:</label>
                                        <input type="password" class="form-control" id="password-change_current_password--input" name="current_password" maxlength="255">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-3 col-6">
                                        <label for="password-change_new_password--input">New Password:</label>
                                        <input type="password" class="form-control" id="password-change_current_password--input" name="new_password_1" maxlength="255">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-3 col-6">
                                        <label for="password-change_verify_password--input">Verify New Password:</label>
                                        <input type="password" class="form-control" id="password-change_current_password--input" name="new_password_2" maxlength="255">
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="offset-3 col-6">
                                        <input id="submit-btn" type="submit" class="btn btn-outline-dark" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Pyp | Change Password
{% endblock %}

