/.idea/

###> symfony/framework-bundle ###
/frontend/.env.local
/frontend/.env.local.php
/frontend/.env.*.local
/frontend/config/secrets/prod/prod.decrypt.private.php
/frontend/public/bundles/
/frontend/var/
/frontend/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/frontend/phpunit.xml
/frontend/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/frontend/public/assets/
/frontend/assets/vendor
###< symfony/asset-mapper ###
