<script>
    function onReportReasonCheckboxChange(checkbox) {
        $(checkbox).parent().parent().parent().submit();
    }
</script>

{% for reportReason in reportReasons %}
    <form method="post">
        <div class="row parent-reason">
            <div class="col">
                <input class="d-none" type="text" name="postId" value="{{ postId }}">
                <input class="d-none" type="text" name="postId" value="{{ commentId }}">
                <input class="report-reason-checkbox" type="checkbox" value="{{ reportReason.id }}" onchange="onReportReasonCheckboxChange(this)" name="reportReasonParentId">
            </div>
            <div class="col">
                {{ reportReason.name }}
            </div>
        </div>
    </form>
{% endfor %}