{% extends 'base.html.twig' %}

{% block body %}
    {{ include('my_account/partials/top_menu.html.twig') }}
    <div class="row">
        {{ include('my_account/partials/sidebar_menu.html.twig') }}
        <div class="col">
            <div class="row">
                <div class="offset-md-2 col-md-10 col-sm-12 text-center">
                    <div class="card">
                        <div class="card-header">
                            {{ include('my_account/partials/username_circle.html.twig') }}
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="offset-3 col-6">
                                        <label for="password-change_current_password--input">Current Password:</label>
                                        <input type="password" class="form-control" id="password-change_current_password--input" name="current_password" maxlength="255">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-3 col-6">
                                        <label for="password-change_new_password--input">New Password:</label>
                                        <input type="password" class="form-control" id="password-change_current_password--input" name="new_password_1" maxlength="255">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-3 col-6">
                                        <label for="password-change_verify_password--input">Verify New Password:</label>
                                        <input type="password" class="form-control" id="password-change_current_password--input" name="new_password_2" maxlength="255">
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="offset-3 col-6">
                                        <input id="submit-btn" type="submit" class="btn btn-outline-dark" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Pyp | Change Password
{% endblock %}

