{% extends 'base.html.twig' %}

{% block title %}Hose | Pipe{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a href="{{ path('hose_queue_view') }}" class="btn btn-primary">View queue</a>
        </div>
    </div>
{% endblock %}
