<div class="col-md-3 col-sm-12">
    <div class="d-none d-md-block">
        <div class="row">
            <div class="col">
                <a href="{{ path('my_account_change_password') }}" class="text-decoration-none text-reset">
                    Change your password
                </a>
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col">#}
{#                <a href="#" class="text-decoration-none text-reset">#}
{#                    Update your mobile number#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col">#}
{#                <a href="#" class="text-decoration-none text-reset">#}
{#                    Update your email preferences#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col">
                <a href="{{ path('my_account_delete_account') }}" class="text-decoration-none text-reset">
                    Delete your account
                </a>
            </div>
        </div>
    </div>
</div>