{% extends 'base.html.twig' %}

{% block title %}Pyp | Report Comment{% endblock %}

{% block stylesheets %}
    <style>
        h5, .username-italic {
            font-family: 'IBM Plex Mono', monospace;
            font-style: italic;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card" style="min-width: 300px; box-sizing: content-box;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title username-italic">{{ user.userIdentifier }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="card-text">{{ comment.getBody }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3" style="min-width: 300px; box-sizing: content-box;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Why do you want to report this comment?</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ render(controller('App\\Controller\\ReportReasonController::renderReasonTree', {reportReasonParentId: reasonId, commentId: comment.id})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}