{% extends 'base.html.twig' %}

{% block title %}Pyp | The new social network built for conversation{% endblock %}

{% block stylesheets %}
    <style>
        .feature {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            width: 4rem;
            font-size: 2rem;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <header class="py-5">
                <div class="container px-lg-5">
                    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                        <div class="m-4 m-lg-5">
                            <h1 class="display-5 fw-bold">The <span class="text-decoration-underline">Pyp</span> social network is waiting</h1>
                            <p class="fs-4">A new social network built to promote <strong>great conversation</strong></p>
                            <p class="fs-4">See how the Pyp network is breaking the mould</p>
                            <a class="btn btn-dark btn-lg" href="{{ path('app_login') }}">Sign me up</a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="pt-4">
                <div class="container px-lg-5">
                    <div class="row gx-lg-5">
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                                    <h2 class="fs-4 fw-bold">Viewable source</h2>
                                    <p class="mb-0">Pyp's source code is completely open to download and review*.</p>
                                    <a href="https://github.com/dayallnash/pyp" role="button" class="btn btn-outline-dark mt-3" target="_blank">View on Github</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-megaphone"></i></div>
                                    <h2 class="fs-4 fw-bold">Paradigm shift</h2>
                                    <p class="mb-0">Pyp throws out the rulebook and rejects the idea of followers and celebrity. Your influence is based on how many people engage you in conversation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-currency-exchange"></i></div>
                                    <h2 class="fs-4 fw-bold">Radical business model</h2>
                                    <p class="mb-0">Our goal is to steadily decrease the amount of advertising and replace it with new features on a subscription model. The base set of features you love will always remain free of charge.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-shield-lock"></i></div>
                                    <h2 class="fs-4 fw-bold">Private at its core</h2>
                                    <p class="mb-0">We promise to NEVER sell or give away your data to third parties.</p>
                                    <a class="btn btn-outline-dark mt-3" role="button" href="{{ path('app_privacy_policy') }}">Privacy policy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-trash"></i></div>
                                    <h2 class="fs-4 fw-bold">Disappearing posts</h2>
                                    <p class="mb-0">All posts deleted after 3 hours. And, once a post is deleted, it's gone for good. That means from our database, too.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                                    <h2 class="fs-4 fw-bold">Contributors welcome!</h2>
                                    <p class="mb-0">It's early days for us and there's loads of brand-spanking new technology to invent.</p>
                                    <a href="https://github.com/dayallnash/pyp/issues" role="button" class="btn btn-outline-dark mt-3" target="_blank">See open issues on Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <small class="text-muted">* License permitting. View license on Github <a href="https://github.com/dayallnash/pyp/blob/master/LICENSE">here</a>.</small>
            </footer>
        </div>
    </div>
{% endblock %}