<style>
    h5 {
        font-family: 'IBM Plex Mono', monospace;
        font-style: italic;
    }
</style>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">{{ post.getPostContent }}</p>
    </div>
</div>